@import "links.scss";

%btn-blue {
  display: block;
  margin:0 auto;
  margin-top: 15px;
  width: 100%;
  height: 45px;
  background-color: $primaryColor;
  background: linear-gradient($primaryColor, #2896B6);
  border: 0 none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #CBCBCB;
  text-shadow: 0 2px 0 rgba(0,0,0,0.6);
  box-shadow: 0 4px 0 #21728B, 0 8px 8px rgba(0,0,0,0.6);
  cursor: pointer;
  margin-bottom: 15px;
  position: relative;
}

%btn-blue:after {
  content: "";
  position: absolute;
  box-shadow: 10px 10px 10px rgba(255,255,255,.8);
  height: 5px;
  top: -11px;
  left: -10px;
  width: 100%;
}


%btn-blue:active {
  background: linear-gradient(#2896B6, $primaryColor);
  text-shadow: 0 -2px 0 rgba(0,0,0,0.6);
  box-shadow: 1px -2px 1px #1E647A;
}

%btn-blue:active:after {
  content: "";
  position: absolute;
  box-shadow: 0 -10px 8px rgba(0,0,0,0.3);
  height: 5px;
  top: 5px;
  left: 0;
  width: 100%;
}
%btn-blue:active:before {
  content: "";
  position: absolute;
  box-shadow: 10px 10px 10px rgba(255,255,255,.8);
  height: 5px;
  top: 30px;
  left: -10px;
  width: 100%;
}

%btn-blue:hover, %btn-blue:focus {
  text-shadow: 0 1px 0 #000;
  outline: 0;
}

%btn-blue:active {
  background-color: $primaryColor;
  background: linear-gradient(#2896B6, $primaryColor);
  box-shadow: 0 2px 0 #21728B, 0 4px 4px rgba(0,0,0,0.6);
}

@mixin btn-blueIndex { //Uli
  background-color: $primaryColor;
  background: linear-gradient($primaryColor, #2896B6);
  position: relative;
  padding: 8px 15px 8px 15px;
  margin-top: 20px;
  z-index: 1;
  border-style: solid none solid none;
  border-top: 1px solid #30b5dc;
  border-bottom: 1px solid #217e9a;
  border-radius: 20px;
  //box-shadow: 0px 2px 0px rgba(#a1a1a1, 0.5);//Opacity
  width: 100%;
  color: #ffffff;
  cursor: pointer;
}

@mixin btn-blueIndex-pc { //Uli
  background-color: $primaryColor;
  background: linear-gradient($primaryColor, #2896B6);
  position: relative;
  padding: 8px 15px 8px 15px;
  margin-top: 20px;
  z-index: 1;
  border-style: solid none solid none;
  border-top: 1px solid #30b5dc;
  border-bottom: 1px solid #217e9a;
  border-radius: 20px;
  //box-shadow: 0px 2px 0px rgba(#a1a1a1, 0.5);//Opacity
  color: #ffffff;
  cursor: pointer;
}
