@import "variables.scss";
@import "media.scss";

html, body {
	width: 100%;
	height: 100%;
}

* {
	padding: 0;
	margin: 0;
}

@include phones {
  header.header {
		background: url(../img/img.jpg) no-repeat center fixed;
		-webkit-background-size: cover;
   		 -moz-background-size: cover;
    	 	 -o-background-size: cover;
            background-size: cover;
            width: 100%;
            height: 250px;
  }

	header.header ul li {
		list-style-type: none;
	}
	li.logo {
	 	background-color: $colorBlue;
	 	float: left;
	 	display: block;
	 	width: 50px;
	 	height: 50px;
	 }
	.header ul li > ul li {
		float: right;
	}
}
