@import "media.scss";
@import "variables.scss";
@import "links.scss";
@import "mixins.scss";
@import "buttons.scss";
@import "border-commit.scss";
@import url(http://fonts.googleapis.com/css?family=Montserrat);

html, body {
  background-color: #ecf0f1;
  font-size: 16px;
  font-style: normal;
  line-height: 1;
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}
*:focus {
  outline: 0;
}

.buttonUp {
  text-shadow: 0px 0px #808080, 0px 0px #808080;
  box-shadow: 0px 2px 5px #303030;
  &:hover {
    text-shadow: 1px 1px #808080, -1 -1 #808080;
    box-shadow: 0px 3px 8px #303030;
  }
}

.displaypc {
  display: none;
}

#main {
  width: 100%;
  height: 100%; // Sergio
  margin: 0px auto;
}

div.contentHeader {
  position: relative;
  top: 0;
  right: 0;
  padding: 20px;
}

header.header {
  background: url(../img/cover.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  box-shadow: 0px 0px 4px #a1a1a1;
  width: 100%;
  height: 100%; // Sergio - was 600px
}

header.header ul {
  position: relative;
}

header.header ul li {
  list-style-type: none;
}

li.logo {
  margin-top: -10px;
  float: left;
  display: block;
  width: 50px;
  height: 50px;
  @include border-radius(25px);
  background-color: black;
}

//MENU PC//////////////////////////
ul.menupc {
  float: right;
  background-color: #222;
  @include border-radius;
  opacity: .8;
  display: block;
  height: 40px;
}

ul.menupc li {
  font-size: 20px;
  text-shadow: 1px 2px #000000;
  display: inline-block;
  margin: 0px 10px 0px 20px;
}

ul.menupc li a {
  text-decoration:none;
  color: #ccc;
  display: inline-block;
  line-height: 40px;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

section.sectionUp {
  margin: 200px 0px 0px 350px;
}

article.articleUp {
  width: 70%;
}

h1.h1FirstTitle {
  font: bold 40px 'Arial';
  text-shadow: 1px 2px #000000;
  color: #ffffff;
}

h2.h2SecondTitle {
  font: bold 28px 'Arial';
  text-shadow: 1px 2px #000000;
  margin-top: 8px;
  color: #eae8e3;
}

button.buttonUp {
  @include btn-blueIndex-pc;
  font-size: 25px;
  width: 100%;
  & a {
    color: white;
    text-decoration: none;
  }
}

div.divInfoIndexContent1 {
  background-color: #ff6600;
  height: 400px;
}

section#important {
  background-color: #ffffff;
  margin: 0 auto;
  width: 75%;
  height: 400px;
}


//************************************************
//Phonnes*****************************************
//************************************************
@include phones {

  .displaypc {
   display: block !important;
 }

 ul.menupc {
  display: none !important;
}

main {
  margin: 0;
  background-color: #f1f1f1;
}

div.contentHeader {
  position: relative;
  top: 0;
  right: 0;
  padding: 20px;
}

header.header {
  background: url(../img/cover.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  box-shadow: 0px 0px 4px #a1a1a1;
  width: 100% !important;
  height: 100% !important;
}

header.header ul {
  position: relative;
}

header.header ul li {
  list-style-type: none;
}

li.logo {
  margin-top: -10px;
  float: left;
  display: block;
  width: 50px;
  height: 50px;
  @include border-radius(25px);
  background-color: black;
}

header.header ul li.mainLink:nth-child(2) {
  float: right;
  cursor: pointer;
  margin-top: -10px;
  padding: 0px 4px 0px 4px;
  background-color: #222;
  box-shadow: inset 40px 10px 10px rgba(255,255,255,.1);
  @include border-radius;
}

header.header ul li.mainLink i.target {
  color: #ccc;
}

header.header ul li.mainLink ul.dropDown {
  @include border-radius;//
  position: absolute;
  display: none;
  right: 5%;
  margin-top: 30px;
  background-color: #222;
  width: 90%;
  cursor: pointer;
  opacity: 0.9;
  z-index: 3;
}

ul.dropDown li a {
  color: white;
  text-decoration: none;
  width: 98.5%;
  padding: 5px 0px 5px 5px;
  display: inline-block;
  text-align: center;
  &:hover {//
    background-color: #333;
    @include border-radius;//
  }
}

h1.h1FirstTitle {
  font: bold 18px 'Arial';
  color: #ffffff;
}

h2.h2SecondTitle {
  font: bold 14px 'Arial';
  margin-top: 8px;
  color: #eae8e3;
}

section.sectionUp {
	margin: 80px 0px 0px 80px;
}

button.buttonUp {
	@include btn-blueIndex;
  font-size: 14px;
}

}
//************************************************
//Tablets*****************************************
//************************************************
@include tablets {

  article.articleUp {
    width: 100%;
  }

  ul.menupc {
    display: none !important;
  }

  .displaypc {
   display: block !important;
 }

 main {
  margin: 0;
  background-color: #f1f1f1;
}

div.contentHeader {
  position: relative;
  top: 0;
  right: 0;
  padding: 20px;
}

header.header {
  background: url(../img/cover.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  box-shadow: 0px 0px 4px #a1a1a1;
  width: 100% !important;
  height: 100% !important;
}

header.header ul {
  position: relative;
}

header.header ul li {
  list-style-type: none;
}

li.logo {
  margin-top: -10px;
  float: left;
  display: block;
  width: 50px;
  height: 50px;
  @include border-radius(25px);
  background-color: black;
}

header.header ul li.mainLink:nth-child(2) {
  float: right;
  cursor: pointer;
  margin-top: -10px;
    padding: 0px 4px 0px 4px; // Sergio
    background-color: #222; // Sergio
    box-shadow: inset 40px 10px 10px rgba(255,255,255,.1); // Sergio
    @include border-radius; // Sergio
  }

  header.header ul li.mainLink i.target {
    color: #ccc; // Sergio
  }

  header.header ul li.mainLink ul.dropDown {
    @include border-radius;//
    position: absolute;
    display: none;
    right: 5%;
    margin-top: 30px;
    background-color: #222;
    width: 90%;
    cursor: pointer;
    opacity: .8;
    z-index: 3;
  }

  ul.dropDown li a {
    color: white;
    text-decoration: none;
    width: 98.5%;
    padding: 5px 0px 5px 5px;
    display: inline-block;
    text-align: center;
    &:hover {//
      background-color: #333;
      @include border-radius;//
    }
  }

  h1.h1FirstTitle {
    font: bold 30px 'Arial';
    color: #ffffff;
  }

  h2.h2SecondTitle {
    font: bold 23px 'Arial';
    margin-top: 8px;
    color: #eae8e3;
  }

  section.sectionUp {
    margin: 150px 0px 0px 190px;
  }

  button.buttonUp {
    @include btn-blueIndex;
    width: 70% !important;

  }

}
