@media only screen and (min-width: 580px) and (max-width: 940px) {
  #main {
    width: 100%; }
    #main section.important, #main section.recomended {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
      #main section.important h1, #main section.recomended h1 {
        display: block;
        text-align: center;
        font-size: 32px;
        color: white;
        font-weight: 500;
        background-color: #1f326c;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc; }
      #main section.important article header, #main section.recomended article header {
        text-align: left;
        margin-left: 120px;
        color: #222;
        font-size: 20px;
        margin-bottom: 5px;
        margin-top: 15px; }
    #main aside.thumbs a {
      margin-top: 5px;
      margin-left: 10px;
      float: right;
      text-decoration: none;
      font-size: 14px; } }
@media only screen and (min-width: 400px) and (max-width: 580px) {
  #main {
    width: 100%;
    padding: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
    #main section.important h1, #main section.recomended h1 {
      display: block;
      text-align: center;
      font-size: 32px;
      color: white;
      font-weight: 500;
      background-color: #1f326c;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc; }
    #main section.important article header, #main section.recomended article header {
      text-align: left;
      margin-left: 70px;
      color: #222;
      font-size: 20px;
      margin-bottom: 5px;
      margin-top: 15px; }
    #main section.important aside.thumbs a, #main section.recomended aside.thumbs a {
      margin-top: 5px;
      margin-left: 10px;
      float: right;
      text-decoration: none;
      font-size: 14px; } }
@media only screen and (min-width: 580px) and (max-width: 940px) {
  section.important article:nth-child(odd) img.img {
    float: right;
    margin-left: 10px; }

  section.important article:nth-child(even) img.img {
    float: left;
    margin-right: 10px; }

  section.recomended article:nth-child(odd) img.img {
    float: right;
    margin-left: 10px; }

  section.recomended article:nth-child(even) img.img {
    float: left;
    margin-right: 10px; }

  article {
    margin-top: 15px;
    padding-right: 5px;
    padding-left: 15px;
    text-align: justify;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 10px; }
    article header {
      text-align: center;
      color: #222;
      font-size: 20px;
      margin-bottom: 5px; }
    article img {
      width: 100px;
      height: 100px; } }
@media only screen and (min-width: 400px) and (max-width: 580px) {
  article {
    margin-top: 15px;
    padding-right: 5px;
    padding-left: 15px;
    text-align: justify;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 10px; }
    article header {
      text-align: center;
      color: #222;
      font-size: 20px;
      margin-bottom: 5px; }
    article img {
      width: 50px;
      height: 50px;
      float: left;
      margin-right: 10px; } }

/*# sourceMappingURL=media.css.map */
