@charset "utf-8";
@import "links.scss";
@import "buttons.scss";
@import "variables.scss";
@import "mixins.scss";
@import "media.scss";
@import url(http://fonts.googleapis.com/css?family=Montserrat);
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $mainColorBg;
  color: #8c989e;
  font-size: 16px;
  font-style: normal;
  line-height: 1;
  position: relative;
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: $primaryColor;
  text-decoration: none;
}

a:hover {
  color: $primaryColorHover;
  text-decoration: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

// Breadcrumb
#breadcrumb {
  position: absolute;
  display: block;
}
#breadcrumb ul { list-style: none; }
.crumbs { display: block; }
.crumbs li {  display: inline; }
.crumbs li.first { padding-left: 8px; }
.crumbs li a, .crumbs li a:link, .crumbs li a:visited { color: #666; display: block; float: left; font-size: 12px; margin-left: -13px; padding: 7px 17px 11px 25px; position: relative; text-decoration: none; }

.crumbs li a { background-image: url('../img/bg-crumbs.png');  background-repeat: no-repeat; background-position: 100% 0; position: relative; }
.crumbs li a:hover { color: #333; background-position: 100% -48px; cursor: pointer; }
.crumbs li a:active { color: #333; background-position: 100% -96px; }
.crumbs li.first a span { height: 29px; width: 3px; border-left: 1px solid #d9d9d9; position: absolute; top: 0px; left: 0px;
}

#main {
  position: relative;
  padding: 10px;
  //background-color: black;
  width: 900px;
  margin: 40px auto;
  // Breadcrumb
  #breadcrumb {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 5px;
  }
  #breadcrumb ul { list-style: none; }
  .crumbs { display: block; }
  .crumbs li {  display: inline; }
  .crumbs li.first { padding-left: 8px; }
  .crumbs li.location {
    float: left;
    padding-top: 5px;
    margin-right: 20px;
  }
  .crumbs li a, .crumbs li a:link, .crumbs li a:visited { color: #666; display: block; float: left; font-size: 12px; margin-left: -13px; padding: 7px 17px 11px 25px; position: relative; text-decoration: none; }

  .crumbs li a { background-image: url('../img/bg-crumbs.png');  background-repeat: no-repeat; background-position: 100% 0; position: relative; }
  .crumbs li a:hover { color: #333; background-position: 100% -48px; cursor: pointer; }
  .crumbs li a:active { color: #333; background-position: 100% -96px; }
  .crumbs li.first a span { height: 29px; width: 3px; border-left: 1px solid #d9d9d9; position: absolute; top: 0px; left: 0px;
  }
  aside#menu_items {
    width: 180px;
    //background-color: red;
    float: left;
    & nav ul li {
      padding-bottom: 5px;
      padding-top: 5px;
      padding-left: 5px;
    }
    & nav ul li.active {
      margin-right: -45px;
      background-color: white;
      padding-bottom: 5px;
      padding-top: 5px;
      //border-bottom: 1px solid black;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
  section#important{
    @include border-radius;
    background-color: white;
    margin-bottom: 10px;
    float: right;
    width: 75%;
    aside.thumbs a {
      margin-top: 5px;
      margin-left: 10px;
      float: right;
      text-decoration: none;
      font-size: 14px;
      padding-right: 10px;
      margin-bottom: 5px;
    }
  }
  section#important h1 {
    display: block;
    text-align: center;
    font-size: 32px;
    color: #384047;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f1f1f1;
  }
  article header {
    text-align: left;
    margin-left: 120px;
    color: #222;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 15px;
  }
  article img.img {
    @include border-radius;
    float: left;
    margin-left: 10px;
    margin-top: -25px;
    margin-right: 10px;
    margin-bottom: 5px;
    width: 100px;
    height: 100px;
  }
  article p {
    display: block;
    padding-right: 10px;
    margin-bottom: 5px;
    height: 80px;
    text-align: justify;
    overflow: hidden;
  }
}

.btn-blue {
  @extend %btn-blue;
}

@include tablets {
  #main {
    width: 100%;
    aside#menu_items {
      display: none;
    }
    section#important {
      width: 100%;
      @include border-radius;
      & h1 {
        display: block;
        text-align: center;
        font-size: 32px;
        color: white;
        font-weight: 500;
        background-color: $phones-h1-bg;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
      }
      article header {
        text-align: left;
        margin-left: 120px;
        color: #222;
        font-size: 20px;
        margin-bottom: 5px;
        margin-top: 15px;
      }
    }
    aside.thumbs a {
      margin-top: 5px;
      margin-left: 10px;
      float: right;
      text-decoration: none;
      font-size: 14px;
    }
  }
}


@include phones {
  #main {
    margin-top: 0;
    width: 100%;
    padding: 0;
    #breadcrumb {
      display: none;
    }
    aside#menu_items {
      display: none;
    }
    @include border-radius;
    section#important {
      width: 100%;
      & h1 {
        display: block;
        text-align: center;
        font-size: 32px;
        color: white;
        font-weight: 500;
        background-color: $phones-h1-bg;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
      }
      article header {
        text-align: left;
        margin-left: 70px;
        color: #222;
        font-size: 20px;
        margin-bottom: 5px;
        margin-top: 15px;
      }
      article img.img {
        width: 50px;
        height: 50px;
      }
      aside.thumbs a {
        margin-top: 5px;
        margin-left: 10px;
        float: right;
        text-decoration: none;
        font-size: 14px;
      }
    }
  }
}

@include tablets {
  section#important article:nth-child(odd) h2 {
    margin-left: -120px;
  }
  section#important article:nth-child(odd) img.img {
    float: right;
    margin-left: 10px;
  }
  section#important article:nth-child(even) img.img {
    float: left;
    margin-right: 10px;
  }
  article {
    margin-top: 15px;
    padding-right: 5px;
    padding-left: 15px;
    text-align: justify;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 10px;
    & header {
      text-align: center;
      color: #222;
      font-size: 20px;
      margin-bottom: 5px;
    }
    img {
      width: 100px;
      height: 100px;
    }
  }
}
@include phones {
  article {
    margin-top: 15px;
    padding-right: 5px;
    padding-left: 15px;
    text-align: justify;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 10px;
    & header {
      text-align: center;
      color: #222;
      font-size: 20px;
      margin-bottom: 5px;
    }
    & img {
      width: 50px;
      height: 50px;
      float: left;
      margin-right: 10px;
    }
  }
}
